@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --font-readex-pro: var(--font-readex-pro);
  --color-black: #111111;
  --color-yellow: #ffff19;
  --color-orange: #fac638;
  --animate-scroll: scroll 15s linear infinite;
  --drop-shadow-back: 0 0 10px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));

  @keyframes scroll {
    to {
      translate: calc(50% + 1.25rem);
    }
  }
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

button {
  @apply cursor-pointer;

  &:disabled {
    @apply cursor-not-allowed;
  }
}

.section {
  @apply container flex flex-col gap-16 items-center relative py-20;
}

.title {
  @apply text-4xl font-semibold text-center text-yellow;
}
